.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
R2ucare_logo
.DS_Store
.gitignore
corrected_bugs
bug_guillaume_chero
bug_ashley
bug_Aurélien_produitdesNaN
bugOlivierDevineau
bugAurélien_test3sm
bug2_ruben
bugs_a_corriger.rtf
.gitignore
